.backgd{
   .globe-container{

     float:left;
      width:89%;
        margin-left: -85px;
        .gif{
          margin-left: 96px;

          }
   }
   .countrylist{
     float: left;
     width:17%;
     margin-top: 150px;
     margin-left: -58px;
     ul{
       list-style-image: url('/assets/Images/png/bullet.png');
       list-style-type: none;
       li {
         font-family:Calibri;
         font-weight: normal;
         font-size:30px;
         color:#FFFFFF;
         padding: 15px;

       }
     }
   }
}
