<div class="backgd">
  <div class="travelinfo">
    <div id="wrap">
    <div id="greetsect">
      <div class="thanktext">
      <h1>Thank you!</h1>
      <p>Your booking <br>has been confirmed</p>
     </div>
    </div>

    <div id="departinfo">
    <div class="departlist">
      <ul>
        <li>
          <div class="container">
           <div class="icon"><img src="assets/Images/png/departdate.png" class="imgicon"></div>
           <div class="detailtext">
             <h3>Departure Date<p>{{ travelInfo.Outbound }}</p></h3>
           </div>
         </div>
        </li>
        <li>
          <div class="container">
           <div class="icon"><img src="assets/Images/png/arrivaldate.png" class="imgicon"></div>
           <div class="detailtext">
             <h3>Arrival Date<p>{{ travelInfo.Inbound }}</p></h3>

           </div>
         </div>
        </li>
        <li>
          <div class="container">
           <div class="icon"><img src="assets/Images/png/departcity.png" class="imgicon"></div>
           <div class="detailtext">
             <h3>Departure City<p>{{ travelInfo.DepartureCity["business-name"] || travelInfo.DepartureCity.city }}</p></h3>

           </div>
         </div>
        </li>
        <li>
          <div class="container">
           <div class="icon"><img src="assets/Images/png/arrivalcity.png" class="imgicon"></div>
           <div class="detailtext">
             <h3>Arrival City<p>{{ travelInfo.ArrivalCity["business-name"] || travelInfo.ArrivalCity.city }}</p></h3>

           </div>
         </div>
        </li>
        <li>
          <div class="container">
           <div class="icon"><img src="assets/Images/png/passengers.png" class="imgicon"></div>
           <div class="detailtext">
             <h3>Passengers<p>{{ travelInfo.Passengers }}</p></h3>

           </div>
         </div>
        </li>
        <li>
          <div class="container">
           <div class="icon"><img src="assets/Images/png/airline.png" class="imgicon"></div>
           <div class="detailtext">
             <h3>Airline <p>{{ travelInfo.Airline }}</p></h3>

           </div>
         </div>
        </li>
        <li>
          <div class="container">
           <div class="icon"><img src="assets/Images/png/Hotel.png" class="imgicon"></div>
           <div class="detailtext">
             <h3>Hotel<p>{{ travelInfo.Hotel }}</p></h3>
           </div>
         </div>
        </li>
      </ul>
    </div>
  </div>
</div>
