.backgd{
  .svg-img{
    float:left;
    width:80%;
    // height:800px;
    margin-top: -100px;
    margin-left: -85px;
  }
  .countrylist{
    float: left;
    width:20%;
    margin-top: 150px;
    margin-left: 47px;
    ul{
      list-style-image: url('/assets/Images/png/bullet.png');

      list-style-type: none;
      li {
        font-family:Calibri;
        font-weight: normal;
        font-size:30px;
        color:#FFFFFF;
        padding: 15px;

      }
    }
  }
}
