.backgd{
  .travelinfo{
    padding-top:120px;
    #wrap {
    // padding: 40px;
    text-align: center;
    width: 100%;

    #left, #right{
         display: inline-block;
         padding: 35px;
         margin: 3px;
         border:1px solid #505050;
         width:15%;
         &:active{
            background-color: #18bf4b;
         }
         &:hover {
           background-color: #18bf4b;
         }
         &:active{
            background-color: #18bf4b;
         }
         border-radius: 6px;
         .container{
           width: 100%;
           .icon{
            width:25%;
            float:left;
            border-right: 1px solid #505050;
            .imgicon{
              width: 25px;
              height: 25px;

            }

           }

           .detailtext{
             width:100%;

             p{
               font-size: 15px;
               color:#dfdfe1;
             }
           }

         }
   }
   #hotel{
     display: inline-block;
     padding: 35px;
     margin: 3px;
     border:1px solid #505050;
     width:36%;
     border-radius: 6px;
     &:hover{
        background-color: #18bf4b;
     }
     .container{
       width: 100%;
       .icon{
        width:10%;
        float:left;
        border-right: 1px solid #505050;
        .imgicon{
          width: 25px;
          height: 25px;

        }

       }

       .detailtext{
         width:39%;
         p{
           font-size: 15px;
           color:#dfdfe1;
         }
       }

     }
}

   }
}

  }
