
<div class="backgd">
  <div class="travelinfo">
    <div id="wrap" >
    <div id="left" class="active" [ngClass]="{highlighted: details.Outbound}">
      <div class="container active">
        <div class="icon"><img src="assets/Images/png/departdate.png" class="imgicon"></div>
        <div class="detailtext"><p>Departure Date</p></div>
      </div>
    </div>
    <div id="right" [ngClass]="{highlighted: details.Inbound}">
       <div class="container">
        <div class="icon"><img src="assets/Images/png/arrivaldate.png" class="imgicon"></div>
        <div class="detailtext">
          <p>Arrival Date</p>
        </div>
      </div>
    </div>
<div id="wrap">
   <div id="left" [ngClass]="{highlighted: details.ArrivalCity}">
  <div class="container">
     <div class="icon"><img src="assets/Images/png/arrivalcity.png" class="imgicon"></div>
     <div class="detailtext">
       <p>Arrival City</p>
     </div>
   </div>
 </div>
<div id="right" [ngClass]="{highlighted: details.DepartureCity}">
    <div class="container">
     <div class="icon"><img src="assets/Images/png/departcity.png" class="imgicon"></div>
     <div class="detailtext">
       <p>Departure City</p>
     </div>
   </div>
 </div>
</div>
<div id="wrap">
<div id="left" [ngClass]="{highlighted: details.Passengers}">
  <div class="container">
     <div class="icon"><img src="assets/Images/png/passengers.png" class="imgicon"></div>
     <div class="detailtext">
       <p>Passengers</p>
     </div>
   </div>
 </div>
<div id="right" [ngClass]="{highlighted: details.Airline}">
    <div class="container">
     <div class="icon"><img src="assets/Images/png/airline.png" class="imgicon"></div>
     <div class="detailtext">
       <p>Airlines</p>
     </div>
   </div>
 </div>
</div>
    <div id="wrap">
      <div id="hotel" [ngClass]="{highlighted: details.Hotel}">
          <div class="container">
           <div class="icon"><img src="assets/Images/png/Hotel.png" class="imgicon"></div>
           <div class="detailtext">
             <p>Hotel</p>
           </div>
         </div>
       </div>
    </div>
  </div>
</div>
