<!--The content below is only a placeholder and can be replaced.-->
<app-welcomescreen></app-welcomescreen>
<!-- <app-map></app-map> -->
<app-mapselected *ngIf ="edited"></app-mapselected>
<app-countryslider *ngIf ="edited"></app-countryslider>
<app-bahrainslider *ngIf ="edited"></app-bahrainslider>
<app-kuwaitslider *ngIf ="edited"></app-kuwaitslider>
<app-omanslider *ngIf ="edited"></app-omanslider>
<app-uaeslider *ngIf ="edited"></app-uaeslider>
<app-plane *ngIf ="edited"></app-plane>
<app-departuredetail *ngIf ="edited"></app-departuredetail>
<app-thank-you *ngIf ="edited"></app-thank-you>
