<!--The content below is only a placeholder and can be replaced.-->
<app-welcomescreen *ngIf="welcome"></app-welcomescreen>
<app-mapselected *ngIf="mapSelector" [country]="country" ></app-mapselected>
<app-countryslider *ngIf="ksa" ></app-countryslider>
<app-bahrainslider *ngIf="bahrain" ></app-bahrainslider>
<app-kuwaitslider *ngIf="kuwait" ></app-kuwaitslider>
<app-omanslider *ngIf="oman"></app-omanslider>
<app-uaeslider *ngIf="uae"></app-uaeslider>
<app-plane  *ngIf="travelling"></app-plane>
<app-departuredetail *ngIf="travelDetails" [updatedFields]="updatedFields"></app-departuredetail>
<app-thank-you *ngIf="thankYou" [travelInfo]="travelInfo"></app-thank-you>
