/* You can add global styles to this file, and also import other style files */
.backgd{
  width:100%;
  background-image: url("/assets/Images/png/background.png");
  min-height: 800px;
  background-repeat: no-repeat;
  background-size: cover;

}
